**/node_modules
**/**/node_modules
**/**/**/node_modules
**/**/**/**/node_modules
**/**/**/**/**/node_modules
**/**/**/**/**/**/node_modules
**/.cache
**/**/.cache
**/**/**/.cache
**/**/**/**/.cache
**/**/**/**/**/.cache
**/**/**/**/**/**/.cache
**/dist/*
**/**/dist/*
**/**/**/dist/*
**/**/**/**/dist/*
**/**/**/**/**/dist/*
**/**/**/**/**/**/dist/*
**/*.mp4
**/*.webm
**/**/*.mp4
**/**/*.webm
**/**/**/*.mp4
**/**/**/*.webm
**/**/**/**/*.mp4
**/**/**/**/*.webm
**/**/**/**/**/*.mp4
**/**/**/**/**/*.webm
**/*.png
**/**/*.png
**/**/**/*.png
**/**/**/**/*.png
**/**/**/**/**/*.png
!**/sketch.png
!**/**/sketch.png
!**/**/**/sketch.png
!**/**/**/**/sketch.png
!**/**/**/**/**/sketch.png
